{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ todo['name'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" 
      value="{{ request.form['name'] or todo['name'] }}" required>
    <label for="description">Description</label>
    <textarea name="description" id="description">
	    {{ request.form['description'] or todo['description'] }}
      </textarea>
    <label for="deadline">Deadline</label>
    <input name="deadline"  id="deadline" type="date"
      value="{{ request.form['deadline'] or todo['deadline'] }}">
    <input type="submit" value="Save">
  </form>
  <form action="{{ url_for('todo.delete', id=todo['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" 
			onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
